/* ported from my personal Obsidian.css and merged with existing styles.css */
:root {
  --dark0: #1e1e1e;
  --dark1: #191919;
  --light0: #ed8099;
  --white: #f6f6f6;
  --wiki: #ff38a2;
  --red: #c32454;
  --darkpurple: #c361e9;
  --lightpurple: #eaaded;
  --pink: #ed8099;
  --darkpink: #C42B7D;
  --blue: #28ccdf;
  --orange: #ff6600;
}

body {
  font: 22px/1.6 system-ui, sans-serif;
  margin: 40px auto;
  max-width: 35em;
  padding: 0 1em;
}

img,
video {
  max-width: 100%;
  height: auto;
}

/* enough.table.css */
table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  padding: 0.5em;
  border: 1px solid;
}

/* enough.media.css */
@media (max-width:1140px) {

  /* (35 + 2) × 22 × 1.4 */
  body {
    font-size: 20px;
  }
}

@media (max-width:740px) {

  /* (35 + 2) × 20 */
  body {
    font-size: 18px;
  }
}

@media (max-width:466px) {

  /* (35 + 2) × 18 × 0.7 */
  body {
    font-size: 16px;
  }
}

/* enough.code.css */
code,
kbd,
pre {
  font-family: ui-monospace, monospace;
}

/* extra stuff */
nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark0);
    color: var(--white);
  }

  a {
    color: var(--wiki);
  }
}