:root {
  --orange: #ff6600;
  --pink: #ed8099;
  --dark: #161616;
  --white: #f6f6f6;
  --blue: #28ccdf;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark);
    color: var(--white);
  }
  a {
    color: var(--pink);
  }
  a:hover {
    color: var(--blue);
  }
}
/* General */

html {
  font-size: 22px;
}

body {
  font-family: system-ui, sans-serif;
  margin: 0 auto;
  padding: 1rem;
  /* accessibility section */
  max-width: 36rem; /* per https://baymard.com/blog/line-length-readability */
  letter-spacing: .02rem;
  word-spacing: 0.1rem;
  line-height: 1.4; /* per https://practicaltypography.com/line-spacing.html & https://stackoverflow.com/questions/20695333/why-does-unitless-line-height-behave-differently-from-percentage-or-em-in-this-e/20818206#20818206 */
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1rem;
} 

p, ul, ol {
  margin: 0.5rem 0 1rem;
}

/* forked from enough.media.css */
@media (max-width:1140px) {

  html {
    font-size: 20px;
  }
}

@media (max-width:740px) {

  html {
    font-size: 18px;
  }
}

@media (max-width:466px) {

  html {
    font-size: 16px;
  }
}

code,
kbd, 
pre {
  font-family: ui-monospace, monospace;
  font-size: smaller;
}

pre{
  overflow: auto;
  padding: 1rem 0 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0 0.5rem;
}

h1 {font-size: 2rem;}
h2 {font-size: 1.5rem;}
h3 {font-size: 1.25rem;}

/* UNDER CONSTRUCTION 
@media (prefers-color-scheme: dark) {
  h1 { color:coral;}
  h2 {color: pink;}
  h3 {color: turquoise;}
}
*/

footer {
  text-align: center;
  font-size: smaller;
}

/* Classes */

.tall { /* for vertical images */
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.gallery h1 {
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar ul li {
  display: inline;
}